java.log.*
.recentf
archive-contents
.emacs.d/savefile/
.emacs.d/ac-comphist.dat
.emacs.d/projectile-bookmarks.eld
.emacs.d/personal/matlab-emacs/
*.sqlite
.ipython/profile_default/static/custom
matlab_*
.ssh/
.xsession-errors*
.emacs.desktop
*~
*.pdf
*.json
